* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: auto;
    width: auto;
}

a {
    color: #191919;
    text-decoration: none;
}

ul {
    list-style: none;
}

.row.wide {
    max-width: 100vw;
    max-height: inherit;
}


/****************************************************/


/*Begin hero section*/


/*****************************************************/

section.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/hero-1.jpg);
    background-size: cover;
    background-position: left;
}

div.logo {
    height: 6rem;
    padding: 0.5rem;
}

div.logo img {
    position: relative;
    width: 20%;
    left: 0;
    top: 0;
    /*    margin-top: -1.5em;*/
    margin-left: 2rem;
}

div.hero-main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

div.hero-main:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

div.hero-main .content {
    background-color: #4b8ffe;
    height: inherit;
}

div.hero-main .headline h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 900;
    color: white;
    padding-top: 25%;
}

div.hero-main .headline span {
    color: #c4ccce;
    font-style: italic;
    font-weight: 500;
    margin-left: -12px;
}

div.sub-headline {
    padding: 0.5%;
    text-align: right;
    text-transform: capitalize;
}

div.sub-headline h3 {
    font-size: 34px;
    color: #fff;
    font-weight: 700;
}

div.call-to-action {
    padding: 1%;
    margin-top: 10%;
    align-content: center;
    text-align: center;
    font-weight: 700;
}

div.call-to-action .button: {
    background-color: #4b8ffe;
    color: white;
    border-radius: 5em;
}

div.call-to-action .button:hover {
    background-color: white;
    color: #4b8ffe;
}


/* skew hero main */


/* Header */

#header {
    padding: 9em 0 9em 0;
    background-color: #4686a0;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed, fixed, fixed;
    background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
    background-position: top left, center center, center center;
    background-size: auto, cover, cover;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#header a {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

#header a:hover {
    color: #ffffff;
}

#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header h6,
#header strong,
#header b {
    color: #ffffff;
}

#header header p {
    color: #ffffff;
}

#header header.major:after {
    background: #ffffff;
}

#header input[type="submit"],
#header input[type="reset"],
#header input[type="button"],
#header button,
#header .button {
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff !important;
}

#header input[type="submit"]:hover,
#header input[type="reset"]:hover,
#header input[type="button"]:hover,
#header button:hover,
#header .button:hover {
    background-color: rgba(255, 255, 255, 0.125);
}

#header input[type="submit"]:active,
#header input[type="reset"]:active,
#header input[type="button"]:active,
#header button:active,
#header .button:active {
    background-color: rgba(255, 255, 255, 0.25);
}

#header input[type="submit"].special,
#header input[type="reset"].special,
#header input[type="button"].special,
#header button.special,
#header .button.special {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #ffffff !important;
    color: #4686a0 !important;
}

#header input[type="submit"].special:hover,
#header input[type="reset"].special:hover,
#header input[type="button"].special:hover,
#header button.special:hover,
#header .button.special:hover {
    background-color: rgba(255, 255, 255, 0.125) !important;
    color: #ffffff !important;
}

#header input[type="submit"].special:active,
#header input[type="reset"].special:active,
#header input[type="button"].special:active,
#header button.special:active,
#header .button.special:active {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

#header ul.major-icons li .icon {
    border-color: #ffffff;
}

#header .icon.major {
    color: #ffffff;
}

#header h1 {
    margin: 0;
}

#header p {
    margin: 1em 0 0 0;
}

#header .actions {
    margin: 2.5em 0 0 0;
    position: relative;
}

#header .actions:after {
    background: #ffffff;
    content: '';
    height: 100vh;
    left: 50%;
    position: absolute;
    top: 100%;
    width: 1px;
}

#header .inner {
    -moz-transition: -moz-transform 1.5s ease, opacity 2s ease;
    -webkit-transition: -webkit-transform 1.5s ease, opacity 2s ease;
    -ms-transition: -ms-transform 1.5s ease, opacity 2s ease;
    transition: transform 1.5s ease, opacity 2s ease;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    position: relative;
    z-index: 1;
}

#header .inner .actions {
    -moz-transition: -moz-transform 1.25s ease;
    -webkit-transition: -webkit-transform 1.25s ease;
    -ms-transition: -ms-transform 1.25s ease;
    transition: transform 1.25s ease;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

#header:after {
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
    background-image: linear-gradient(45deg, #4fa49a, #4361c2);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

body.is-loading #header .inner {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
}

body.is-loading #header .inner .actions {
    -moz-transform: translateY(30em);
    -webkit-transform: translateY(30em);
    -ms-transform: translateY(30em);
    transform: translateY(30em);
    opacity: 0;
}

body.is-loading #header:after {
    opacity: 1;
}


/* end skew hero main */


/****************************************************/


/*end hero section*/


/*****************************************************/